.content {
  &_sideNavOpen {
    position: relative;
    top: 8rem;
    left: 13rem;
    width: calc(100vw - 13rem);
    background: $lightGrey;
    padding: 1rem;
    height: calc(100vh - 8rem);
    z-index: -10000;
  }

  &_sideNavClose {
    position: relative;
    top: 8rem;
    left: 5rem;
    width: calc(100vw - 5rem);
    background: $lightGrey;
    padding: 1rem;
    height: calc(100vh - 8rem);
    z-index: -10000;
  }

  &_main {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    background: #fff;
    width: calc(100vw - 17rem);
    height: calc(100vh - 12rem);
    z-index: 10000;

    &_sideNavOpen {
      position: absolute;
      top: 2rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
      background: #fff;
      width: calc(100vw - 17rem);
      height: calc(100vh - 12rem);
      z-index: 10000;
    }

    &_sideNavClose {
      position: absolute;
      top: 2rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
      background: #fff;
      width: calc(100vw - 9rem);
      height: calc(100vh - 12rem);
      z-index: 10000;
    }

    &-section {
      position: absolute;
      width: 60%;
      height: calc(100vh - 12rem);
      display: inline-block;
    }

    &-subsection {
      position: absolute;
      right: 0;
      width: 40%;
      height: calc(100vh - 12rem);
      display: inline-block;
      background: $lightGrey;

      &_weather {
        position: relative;
        width: 95%;
        margin-left: 5%;
        height: calc(100vh - 12rem - 52%);
        background: #01c0c8;
      }

      &_news {
        position: relative;
        width: 95%;
        height: calc(100vh - 12rem - 52%);
        background: #fb9678;
        margin-top: 1.4rem;
        margin-left: 5%;
      }
    }
  }
}
