.container {
  &_navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    font-size: 1.4rem;
    z-index: 100000;
    color: $grey;

    &-back {
      position: absolute;
      left: 0.5rem;
      top: 50%;
      cursor: pointer;

      &_icon {
        position: relative;
        top: 0.1rem;
        right: 0.5rem;
      }
    }

    &-next {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      cursor: pointer;

      &_icon {
        position: relative;
        top: 0.1rem;
        left: 0.5rem;
      }
    }
  }

  &_content {
    position: relative;
    top: 2rem;
    left: 1rem;
    width: 100%;
    height: calc(100vh - 12rem);
  }
}
