.sidenav {
  &_section {
    position: absolute;
    border: 1px solid $primary;
    left: 1rem;
    right: 1rem;
    height: auto;

    &-lists {
      position: absolute;
      top: 2rem;
      // width: 12rem;
      left: 1rem;
      height: auto;

      &_list {
        margin-bottom: 3rem;
        cursor: pointer;

        &-border {
          &_intro {
            position: absolute;
            width: 0.2rem;
            height: 2rem;
            background: $primary;
            left: -2rem;
          }

          &_about {
            position: absolute;
            width: 0.2rem;
            height: 2rem;
            background: $primary;
            left: -2rem;
          }

          &_education {
            position: absolute;
            width: 0.2rem;
            height: 2rem;
            background: $primary;
            left: -2rem;
          }

          &_oproject {
            position: absolute;
            width: 0.2rem;
            height: 2rem;
            background: $primary;
            left: -2rem;
          }

          &_pproject {
            position: absolute;
            width: 0.2rem;
            height: 2rem;
            background: $primary;
            left: -2rem;
          }

          &_blog {
            position: absolute;
            width: 0.2rem;
            height: 2rem;
            background: $primary;
            left: -2rem;
          }

          &_award {
            position: absolute;
            width: 0.2rem;
            height: 2rem;
            background: $primary;
            left: -2rem;
          }

          &_contact {
            position: absolute;
            width: 0.2rem;
            height: 2rem;
            background: $primary;
            left: -2rem;
          }
        }

        &-icon {
          position: relative;
          right: 0.8rem;
          top: 0.2rem;
        }
      }
    }
  }
}
